/**
 * Image and Content Box Block - Editor Styles
 */

.wp-block-xgenious-ui-blocks-image-content-box {
	.image-placeholder {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #f0f0f0;
		border: 2px dashed #ccc;
		border-radius: 12px;
		min-height: 400px;
		padding: 40px;
		color: #666;

		.dashicon {
			font-size: 64px;
			width: 64px;
			height: 64px;
			margin-bottom: 16px;
		}

		p {
			font-size: 16px;
			margin: 0;
		}
	}

	.content-box-heading,
	.content-box-description {
		&:focus {
			outline: 2px solid #007cba;
			outline-offset: 2px;
		}
	}

	.content-box-button,
	.content-box-arrow {
		pointer-events: none;
	}
}
